<article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><a href="/profile/{{user.username}}" style="text-decoration: none;color: rgb(0, 0, 97)" >{{user.username}}</a></strong>
          <br>
          {{comment_text}}
        </p>
      </div>
    </div>
  </article>