  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/bigNeon.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script> sound = new Howl({
    src: ['http://larry.torontocast.com:1820/stream/1/'],
    volume: 0.01,
    html5: true,
    format:['mp3','aac']
  })
 ;</script>
<title>Game Lounge</title>
</head>

<body class="body">
  <header>
    <!-- nav bar image on leftside -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="./login.html"></a>
        <div class="subtitle">lounge and chill</div>
      </div>

      <!-- start game and logOut top right -->
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/gamepage/floppy" class=" neon-button">
              <strong>Floppy Bird</strong>
            </a>
            <a href="/gamepage/snake" class=" neon-button">
              <strong>Snake</strong>
            </a>
            <a class=" neon-button" id="logout">
              LogOut
            </a>
          </div>
        </div>
      </div>
      </div>
    </nav>

  </header>