<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/bigNeon.css">
<title>Login Page</title>
</head>

<body class="body">
  <header>
    <!-- nav bar image on leftside -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item main-title neon-text" href="./login.html"></a>

      </div>

      <!-- sign up and login top right -->
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="#signup-form" class=" neon-button">
              <strong>Sign up</strong>
            </a>
            <a href="#login-form" class=" neon-button">
              Login
            </a>
          </div>
        </div>
      </div>
      </div>
    </nav>

  </header>