<title>Profile</title>
</head>

<body class="body">
  <header>
    <!-- nav bar image on leftside -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="./login.html"></a>
        <div class="subtitle">{{username}}</div>
      </div>

      <!-- start game and logOut top right -->
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class=" neon-button" href="/gamepage">
              <strong>Game Lounge</strong>
            </a>
            <a class=" neon-button" id="logout">
              LogOut
            </a>
          </div>
        </div>
      </div>
      </div>
    </nav>

  </header>