{{>gamepage-header}}
<div class="columns">

    <!-- user profile section -->
    <div class="column userProfile">
      
      <div class="userStats">
                
        <button class='column button' id="player"><i class="fa fa-play"></i>Play</button>
      </div>
    </div>

    <!-- main display section -->
    <div class="column block glow is-three-fifths"></div>

    <!-- high score section -->
    <div class="column leaderBoard">
      {{!-- <h2 class="column">Leader Board</h2>
      <ol id="topScores" class="column">
        
      </ol> --}}
    </div>
  </div>
  <!-- comment section -->
 {{#each comments as |comment|}}
 {{>comment-section comment}}
 {{/each}}
  <article class="media">

    <div class="media-content">
      <form id="commentForm">
        <div class="field">
          <p class="control">
            <textarea class="textarea" name="comment_text" placeholder="Add a comment..."></textarea> 
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button class="button" type="submit">Post comment</button>
          </p>
        </div>
      </form>  
    </div>
  </article>

<script src="javascript/logout.js"></script>
<script src="javascript/comment.js"></script>
<script src="javascript/musicplayer.js"></script>

</body>

</html>