<section class="hero has-text-centered">
    <div class="hero-body">
      <p class="title">
        Intro to the game
      </p>
      <p class="subtitle">
        with small discription of what the website will be about
      </p>
    </div>
  </section>


  <div class="sign-cards">
    <!-- login card -->
    <form class="box" id="login-form">
      <div class="field">
        <label class="label" for="email-login">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="e.g. alex@example.com" id="email-login">
        </div>
      </div>

      <div class="field">
        <label class="label" for="password-login">Password</label>
        <div class="control">
          <input class="input" type="password" id="password-login" placeholder="********">
        </div>
      </div>

      <button type="submit" class="button is-primary">Login</button>
    </form>

    <!-- sign up card -->
    <form class="box" id="signup-form">
      <div class="field">
        <label class="label" for="email-signup">Email</label>
        <div class="control">
          <input class="input" type="email" id="email-signup" placeholder="e.g. alex@example.com">
        </div>
      </div>
      <div class="field">
        <label class="label" for="username-signup">Username</label>
        <div class="control">
          <input class="input" type="username" id="username-signup" placeholder="Username">
        </div>
      </div>
      <div class="field">
        <label class="label" for="password-signup">Password</label>
        <div class="control">
          <input class="input" type="password" id="password-signup" placeholder="********">
        </div>
      </div>
      <button type="submit" class="button is-primary">Sign Up!</button>
    </form>
  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>

  <script src="javascript/login.js"></script>

</body>
</html>