{{>login-header}}
<section class="hero has-text-centered">
    <div class="hero-body">
      <p class="title">
        welcome to Game night!!
      </p>
      <p class="subtitle">
        Welcome to our funfilled and relaxing website. here we have created a place were guests can come to hangout with
        a fun game to be played. what to find out what the game is all about? first you have to login to see whats going
        on the other side!!
      </p>
    </div>
  </section>


  <div class="sign-cards">
    <!-- login card -->
    <form class="box" id="login-form">
      <div class="field">
        <label class="label" for="email-login">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="e.g. alex@example.com" id="email-login">
        </div>
      </div>

      <div class="field">
        <label class="label" for="password-login">Password</label>
        <div class="control">
          <input class="input" type="password" id="password-login" placeholder="********">
        </div>
      </div>

      <button type="submit" class="button is-primary">Login</button>
    </form>

    <!-- sign up card -->
    <form class="box" id="signup-form">
      <div class="field">
        <label class="label" for="email-signup">Email</label>
        <div class="control">
          <input class="input" type="email" id="email-signup" placeholder="e.g. alex@example.com">
        </div>
      </div>
      <div class="field">
        <label class="label" for="username-signup">Username</label>
        <div class="control">
          <input class="input" type="username" id="username-signup" placeholder="Username">
        </div>
      </div>
      <div class="field">
        <label class="label" for="password-signup">Password</label>
        <div class="control">
          <input class="input" type="password" id="password-signup" placeholder="********">
        </div>
      </div>
      <button type="submit" class="button is-primary">Sign Up!</button>
    </form>
  </div>

  <script src="javascript/login.js"></script>
  <script src="javascript/zNeon.js"></script>

</body>
</html>