<link rel="stylesheet" href="/stylesheets/snakePage.css">
<link href="https://fonts.googleapis.com/css?family=Teko:700" rel="stylesheet" />
<title>Snake!</title>
</head>

<body>
    <header>
        <!-- nav bar image on leftside -->
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/gamepage"></a>
                <div class="subtitle">Classic Snake</div>
            </div>

            <!-- start game and logOut top right -->
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class=" neon-button" href="/gamepage">
                            <strong>LOUNGE</strong>
                        </a>
                        <a class=" neon-button" id="logout">
                            LogOut
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </nav>

    </header>

    <div class="container">
        <div class="arcade-machine">
            <div class="shadow"></div>
            <div class="top"></div>
            <div class="stripes">
                <div class="snake-leaderboard">
                    <h2 class="">{{user.username}}</h2>
                    <ol id="topScores" class="">
 
                    </ol>
                </div>
            </div>

            <div class="screen-container">
                <div class="shadow"></div>
                <div class="screen">
                    <div class="screen-display">
                        <canvas id="snake" width="600" height="600"></canvas>
                        <script src="/javascript/snek.js"></script>
                         <script type="text/javascript">
        function getMousePosition(canvas, event) {
            let rect = canvas.getBoundingClientRect();
            let x = event.clientX - rect.left;
            let y = event.clientY - rect.top;
            console.log("Coordinate x: " + x, 
                        "Coordinate y: " + y);
        }
      
        let canvasElem = document.querySelector("canvas");
          
        canvasElem.addEventListener("mousedown", function(e)
        {
            getMousePosition(canvasElem, e);
        });
    </script>
                    </div>
                </div>
                <div class="joystick">
                    <div class="stick"></div>
                </div>
                <div class="board">
                    <div class="button button-a"></div>
                    <div class="button button-b"></div>
                    <div class="button button-c"></div>
                </div>
                <div class="bottom"></div>
            </div>
            <div class="comment-container">
                <div class="comments">
                    {{#each comments as |comment|}}
                    {{>comment-section comment}}
                    {{/each}}
    
    
                    <article class="media">
    
                        <div class="media-content">
                            <form id="commentForm">
                                <div class="field">
                                    <p class="control">
                                        <textarea class="textarea" name="comment_text" placeholder="Add a comment..."></textarea>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control">
                                        <button class="post-button" type="submit">Post comment</button>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascript/comment.js"></script>
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/snake-scores.js"></script>
</body>

</html>