{{>profile-header user}}
<div class="column userProfile">
    <h2 class="column">Username: {{user.username}}</h2>
    <div class="userStats">
      <h4 class="column">Email: {{user.email}}</h4>      
        <h4 class="column">Info: {{user.info}}</h4>    
        <h4 class="column">recent scores</h4>
        <h4 class="column">recent post</h4>  
    </div>
  </div>
  <script src="/javascript/logout.js"></script>
</body>
</html>