.arcade-machine {
  width: 900px;
  height: 1000px;
  position: relative;
  margin: 35px auto;
  perspective: 35em;
}

.top {
  width: 90%;
  height: 15%;
  position: absolute;
  left: 4%;
  border: 5px solid white;
  box-shadow: 0 0 9px rgb(173, 117, 13), 0 0 10px rgb(173, 117, 13);
  filter: blur(1px);
  z-index: 3;
}
.top::before {
  width: 4.5%;
  height: 100%;
  position: absolute;
  top: -6px;
  border: 5px solid white;
  content: " ";
  left: -6%;
  right: -6%;
}
.top::after {
  width: 4.5%;
  height: 100%;
  position: absolute;
  top: -6px;
  border: 5px solid white;
  content: " ";
  left: 101%;
}

/* screen section */
.screen-container {
  width: 62%;
  height: 480px;
  position: absolute;
  text-align: center;
  left: 33%;
  top: 21%;
}
.screen-container::before {
  width: 4%;
  height: 120%;
  position: absolute;
  top: -10%;
  content: " ";
  left: -45%;
  border: 5px solid white;
}
.screen-container::after {
  width: 4%;
  height: 120%;
  position: absolute;
  top: -10%;
  content: " ";
  right: 2%;
  border: 5px solid white;
}

.screen {
  width: 120%;
  height: 120%;
  position: absolute;
  left: -35%;
  top: -3%;
}
.screen-display {
  position: absolute;
  background: beige;
  left: 27%;
  top: 3%;
}

/* joystick & button area */

.joystick {
  width: 5%;
  height: 6%;
  position: absolute;
  top: 105%;
  left: -15%;
  border-radius: 50%;
  border: 5px solid white;
}

.joystick::before {
  width: 65%;
  height: 90%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: white;
  content: " ";
  border-radius: 50%;
}
.stick {
  position: absolute;
  left: 30%;
  top: 100%;
  width: 40%;
  height: 200%;
  background: white;
}

.board {
  height: 30%;
  width: 134%;
  position: absolute;
  top: 110%;
  right: 5%;
  border: 5px solid white;
  transform: perspective(50em) rotateX(30deg) scale(1, 1);
}
.board::before {
  width: 4%;
  height: 98%;
  position: absolute;
  top: -2%;
  border: 5px solid white;
  content: " ";
  left: -7%;
}
.board::after {
  width: 4%;
  height: 98%;
  position: absolute;
  top: -2%;
  border: 5px solid white;
  content: " ";
  left: 101%;
}

.button {
    width: 6%;
    height: 15%;
    position: absolute;
    top: 36%;
    left: 17.5%;
    border-radius: 50%;
    border: 5px solid white;
}

.button-a {
    border: 5px solid white;
    left: 50%;
}

.button-b {
    border: 5px solid white;
    left: 60%;
}

.button-c {
    border: 5px solid white;
    left: 70%;
}

.bottom {
    width: 140%;
    height: 20%;
    position: absolute;
    right: 2.1%;
    top: 141%;
    border: 5px solid white;
}

.bottom::before {
    width: 4%;
    height: 100%;
    position: absolute;
    top: -6%;
    border: 5px solid white;
    content: " ";
    left: -7.2%;
}
.bottom::after {
    width: 4%;
    height: 100%;
    position: absolute;
    top: -6%;
    border: 5px solid white;
    content: " ";
    right: -6.7%;
}

.comment-container {
    width: 80%;
    height: 70%;
    position: absolute;
    top: 99%;
    left: 9%;
    border: 5px solid white;
}
