:root {
  --clr-neon: hsl(115, 100%, 54%);
  --clr-bg: hsl(323 21% 16%;);
}
html {
  background-color: black;
}

/* navbar section */
.navbar {
  background-color: black;
  padding-bottom: 100px;
}

.main-title {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

/* hero section */
.hero {
  margin-bottom: 10px;
}

/* login & signup boxes */
.box {
  width: 50%;
  margin: auto;
  padding: 10px;
}

/* footer section */
.footer {
  margin-top: 100px;
  background-color: gray;
}

article {
  border: 1px solid black;
}
img {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  border: 1px solid black;
}

/* neon letters in header */
.neon-text {
  font-family: cursive;
  margin-top: 15px;
  color: var(--clr-neon);
  text-shadow: 0 0 7px rgb(185, 185, 185), 0 0 8px rgb(185, 185, 185),
    0 0 9px rgb(185, 185, 185), 0 0 10px rgba(47, 255, 57, 0.795),
    0 0 11px rgba(47, 255, 57, 0.795), 0 0 12px rgba(47, 255, 57, 0.795),
    0 0 13px rgba(47, 255, 57, 0.795), 0 0 14px rgba(47, 255, 57, 0.795);

  animation: flicker 1.5s infinite alternate;
  color: var(--clr-neon);
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

/* .neon-text::before {
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 65%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
} */

/* neon buttons */
.neon-button {
  margin-left: 8px;
  font-size: 1.5rem;

  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  border-radius: 0.25em;
  padding: 0.25em 1em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.8), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1.3em);
}

.neon-button::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  box-shadow: 0 0 2em 0.6em var(--clr-neon);
  opacity: 0;
  transition: opacity 200ms linear;
}

.neon-button:hover,
.neon-button:focus {
  background-color: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::after {
  opacity: 1;
}

/* lounge boarder neon */
.block {
  position: relative;
  margin: 10% auto 0;
  width: 50%;
  height: 400px;
  background-image: url(https://i.pinimg.com/564x/38/bf/ae/38bfae02bee35bf0db05e69c8e354420.jpg);
}
.glow::before,
.glow::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  background: linear-gradient(
    45deg,
    yellow,
    #ff6600,
    #00ff66,
    #00ffff,
    #ff00ff,
    #ff0099,
    #6e0dd0,
    #ff3300,
    #099fff
  );
  background-size: 400%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  animation: animate 40s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow::after {
  filter: blur(2em);
}
