:root {
  --clr-neon: rgb(20, 255, 243);
  --clr-bg: hsl(323 21% 16%;);
}
html {
  /* background-color: rgb(10, 10, 10); */
  background-image: url(./0e6ac009562c2fec4f0360e0dc939337.jpg);
}
body {
  color: white;
}

.label {
  color: white;
}

.neon-text {
  font-family: "Times New Roman", Times, serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  text-align: center;
  line-height: 1;
  color: #c6e2ff;
  animation: neon 0.5s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
      0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
      0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
      0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
      0 0 60px rgba(30, 132, 242, 1);
  }
}

/* neon letters in header*/
/* .neon-text {
  margin-left: 30px;
  margin-top: 15px;
  text-shadow: 0 0 7px rgb(185, 185, 185), 0 0 8px rgb(185, 185, 185),
    0 0 9px rgb(185, 185, 185), 0 0 10px rgba(47, 255, 57, 0.795),
    0 0 11px rgba(47, 255, 57, 0.795), 0 0 12px rgba(47, 255, 57, 0.795),
    0 0 13px rgba(47, 255, 57, 0.795), 0 0 14px rgba(47, 255, 57, 0.795);

  animation: flicker 4s infinite alternate;
  color: var(--clr-neon);
}

@keyframes flicker {
  52%,
  53%,
  52%,
  53% {
    text-shadow: 0 0 4px rgb(207, 207, 207), 0 0 8px rgb(207, 207, 207),
      0 0 12px rgb(207, 207, 207), 0 0 16px rgb(0, 155, 52),
      0 0 20px rgb(0, 155, 52), 0 0 24px rgb(0, 155, 52),
      0 0 28px rgb(0, 155, 52), 0 0 32px rgb(0, 155, 52);
  }
}

.neon-text {
  margin-top: 40px;
  transform-origin: 0 0;
  transform: rotate(-2deg);
} */

/* navbar section */
.navbar {
  background-image: url("https://www.dropbox.com/s/2ct0i6kc61vp0bh/wall.jpg?raw=1");
  padding-bottom: 70px;
  margin-bottom: 55px;
}

a.navbar-item:hover {
  color: white;
}

/* neon buttons */
.neon-button {
  margin-left: 8px;
  font-size: 1.5rem;

  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  border-radius: 0.25em;
  padding: 0.25em 1em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.8), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.3);
  filter: blur(1.3em);
}

.neon-button::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  box-shadow: 0 0 2em 0.6em var(--clr-neon);
  opacity: 0;
  transition: opacity 200ms linear;
}

.neon-button:hover,
.neon-button:focus {
  background-color: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::after {
  opacity: 1;
}

/* hero section */
.hero {
  margin-bottom: 10px;
}

/* login & signup boxes */
.box {
  width: 50%;
  margin: auto;
  padding: 10px;
  background: none;
}

/* footer section */
.footer {
  margin-top: 100px;
  background-color: gray;
}

img {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  border: 1px solid black;
}

/* lounge scoreboard and user information */
.column {
  margin: 1%;
}

.columns h2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  border-radius: 0.5em;

  box-shadow: inset 0 0 0.5em 0 hsl(27, 100%, 50%),
    inset 0 0 0.7em 0 hsl(27, 100%, 50%), 0 0 0.5em 0 hsl(27, 100%, 50%);
}

.userProfile,
.leaderBoard {
  text-align: center;
  font-size: 1.4rem;
  border: 3px solid white;
  border-radius: 0.5em;
  width: auto;

  color: hsl(27, 100%, 50%);
  text-shadow: 0 0 0.125em rgb(255, 255, 255), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 hsl(27, 100%, 50%),
    inset 0 0 0.7em 0 hsl(27, 100%, 50%), 0 0 0.5em 0 hsl(27, 100%, 50%);
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
li {
  counter-increment: my-awesome-counter;
  margin: 0.25rem;
  text-align: left;
  padding-left: 1rem;
}
li::before {
  content: counter(my-awesome-counter);
  border: 0.1rem solid white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 1.8rem;
  color: white;
  text-align: center;
  margin-right: 0.5rem;
}

/* lounge center border neon */
.block {
  position: relative;
  margin: 6% auto 0;
  width: 50%;
  height: 400px;
  background-image: url(https://i.pinimg.com/564x/38/bf/ae/38bfae02bee35bf0db05e69c8e354420.jpg);
  border-radius: 0.5em;
}
.glow::before,
.glow::after {
  border-radius: 0.5em;
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  background: linear-gradient(
    45deg,
    yellow,
    #ff6600,
    #00ff66,
    #00ffff,
    #ff00ff,
    #ff0099,
    #6e0dd0,
    #ff3300,
    #099fff
  );
  background-size: 400%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  animation: animate 40s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow::after {
  filter: blur(1em);
}

/* lounge page media information section */
.media {
  margin: auto;
  display: flex;
  width: 60%;
}

.textarea {
  margin: auto;
  min-width: 80%;
  max-width: 100%;
}

.media strong {
  color: rgb(0, 0, 97);
  text-shadow: 0 0 0.25em rgb(255, 255, 255), 0 0 0.5em white;
}

.media + .media,
.media {
  text-shadow: 0 0 0.125em rgb(240, 110, 4), 0 0 0.45em currentColor;
}
.media + .media {
  border-top: 0.15rem solid white;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  border-radius: 0.1rem;
}
.media::after {
  filter: blur(0.1rem);
}

/* media queries  */
@media only screen and (max-width: 425px) {
  header {
    display: flex;
    flex-direction: row;
  }
  .neon-text {
    font-size: 1.655rem;
  }
  .neon-button {
    font-size: 1rem;
  }
  .block {
    width: 90%;
  }
  .textarea {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
